<%- include('../partials/header') %>
    <div class="container-sm">
        <form action="/campaigns/<%= campaign._id %>?_method=PUT" method="POST">
            <input type="hidden" name="_id" value="<%= campaign._id %> "><br>
            <label>Campain Title:</label>
            <input type="text" name="titleName" value="<%=campaign.titleName  %>"><br>
            <label>Characters:</label>
            <input type="text" name="characterNames" value="<%=campaign.characterNames.join(', ')  %>"><br>
            <label>Setting:</label>
            <input type="text" name="setting" value="<%=campaign.setting  %>"><br>
            <label>Starting Items:</label>
            <input type="text" name="equipAndGold" value="<%=campaign.equipAndGold  %>"><br>
            <label>Description:</label>
            <input type="text" name="description" value="<%=campaign.description  %>"><br>
            <input type="submit">
        </form>
    </div>
    <%- include('../partials/footer') %>