<%- include('../partials/header') %>
    <div class="container">
        <h1>Edit Campaign</h1>
        <div class="form-floating mb-2">
            <form action="/campaigns/<%= campaign._id %>?_method=PUT" method="POST">
                <label class="form-label">Campain Title:</label>
                <input class="form-control" type="text" name="titleName" value="<%=campaign.titleName  %>"><br>
                <label class="form-label">Characters:</label>
                <input class="form-control" type="text" name="characterNames" value="<%=campaign.characterNames.join(', ')  %>"><br>
                <label class="form-label">Setting:</label>
                <input class="form-control" type="text" name="setting" value="<%=campaign.setting  %>"><br>
                <label class="form-label">Starting Items:</label>
                <input class="form-control" type="text" name="equipAndGold" value="<%=campaign.equipAndGold  %>"><br>
                <label class="form-label">Description:</label>
                <textarea class="form-control" style="height: 150px" type="text" name="description"> <%=campaign.description  %> </textarea><br>
                <input class="btn btn-secondary" type="submit">
            </form>
        </div>
    </div>
    <%- include('../partials/footer') %>