<%- include('../partials/header') %>
    <div class="container">
        <div class="col-12 justify-content-center">
        <h1>
            <%=campaign.titleName %>
        </h1><br>
    </div>
    <div class="row">
        <div class="col-md-4" m-3>
            <h4>Campaign stats</h4>
            <h5>Characters</h5>
            <p><%=campaign.characterNames.join(', ')  %></p>
            <h5>Campaign Setting</h5>
            <p><%=campaign.setting  %> </p>
            <h5>Starting Equipment</h5>
            <p><%=campaign.equipAndGold  %> </p>
        </div>
        <div class="col">
            <p><%=campaign.description  %> </p>
        </div>
    <% if (user?._id.equals(campaign.user)) { %>
        <div>
            <a class="btn btn-secondary" href="/campaigns/<%= campaign._id %>/edit ">EDIT</a>
                <form action="/campaigns/<%= campaign._id %>?_method=DELETE" method="POST">
                    <button class='btn btn-secondary' type="submit">DELETE</button>
                </form> <br><br>
        </div>
                <% } %>
    </div>
    <div class="container">
        <tbody>
            <h3>Sessions</h3>
            <% campaign.gameSession.forEach(function(c) { %>
                <td>
                    <%= c.sessionTitle %>
                </td><br>
                <td>
                    <%= c.encounters %>
                </td><br>
                <td>
                    <%= c.treasure %>
                </td><br>
                <td>
                    <%= c.sessionDescrip %>
                </td><br>

                <% if (user?._id.equals(campaign.user)) { %>
                    <form action="/sessions/<%= c._id %>/edit" method="GET">
                        <button class='btn btn-secondary' type="submit">EDIT</button>
                    </form>
                    <form action="/sessions/<%= c._id %>?_method=DELETE" method="POST">
                        <button class='btn btn-secondary' type="submit">DELETE</button>
                    </form> <br>
                    <% } %>

                        <% }) %>
        </tbody>
    </div>
</div>
    <div class="container">
        <tbody>
            <% if (user?._id.equals(campaign.user)) { %>
                <h4>New Session</h4>
                <form method="POST" action="/campaigns/<%= campaign._id %>/sessions">
                    <label>Session Title:
                        <input type="text" name="sessionTitle"></label><br>
                    <label>Encounters:<input type='text' name='encounters'></label><br>
                    <label>Treasure <input type="text" name="treasure"></label><br>
                    <label>Session Description<input type="text" name="sessionDescrip"></label><br>
                    <input class='btn btn-secondary' type="submit" value="Add Session">
                </form>
                <% } %>
        </tbody>
    </div>
    <%- include('../partials/footer') %>