<%- include('../partials/header') %>
<h1> this is show page</h1>
<tbody>
    <td><%=campaign.titleName  %> </td><br>
    <td><%=campaign.characterNames.join(', ')  %> </td><br>
    <td><%=campaign.setting  %> </td><br>
    <td><%=campaign.equipAndGold  %> </td><br>
    <td><%=campaign.description  %> </td>

</tbody>   
<%- include('../partials/footer') %> 