<%- include('../partials/header') %>
    <div class="container">
        <div class="col-12 justify-content-center">
            <h1>
                <%=campaign.titleName %>
            </h1><br>
        </div>
    <div class="row">
        <div class="col-md-4" m-3>
            <h5>Characters</h5>
            <p><%=campaign.characterNames.join(', ')  %></p>
            <h5>Campaign Setting</h5>
            <p><%=campaign.setting  %> </p>
            <h5>Starting Equipment</h5>
            <p><%=campaign.equipAndGold  %> </p>
        </div>
        <div class="col">
            <p><%=campaign.description  %> </p>
        </div>
    <% if (user?._id.equals(campaign.user)) { %>
        <div class="input-group mb-3">
            <form action="/campaigns/<%= campaign._id %>/edit" method="GET">
                <button class='btn btn-secondary' type="submit">EDIT</button>
            </form>
            <form action="/campaigns/<%= campaign._id %>?_method=DELETE" method="POST">
                <button class='btn btn-secondary mx-2' type="submit">DELETE</button>
            </form>
        </div>
                <% } %>
    </div>
    <div class="col-12">
        <h3>Sessions</h3>
    </div>
    <% campaign.gameSession.forEach(function(c) { %>
    <div class="row">
        <div class="col-md-4">  
            <h4><%= c.sessionTitle %></h4>
            <h5>Encounters</h5>
            <p><%= c.encounters %></p>
            <h5>Treasure</h5>
            <p><%= c.treasure %></p>
        </div>
        <div class="col">
            <p><%= c.sessionDescrip %></p>
        </div> 
        
        <% if (user?._id.equals(campaign.user)) { %>
            <div class="input-group mb-3">
                <form action="/sessions/<%= c._id %>/edit" method="GET">
                    <button class='btn btn-secondary' type="submit">EDIT</button>
                </form>
                <form action="/sessions/<%= c._id %>?_method=DELETE" method="POST">
                    <button class='btn btn-secondary mx-2' type="submit">DELETE</button>
                </form>
            </div>
        <% } %>
    <% }) %>
    </div> 
</div>
    <div class="container">
        <% if (user?._id.equals(campaign.user)) { %>
            <div class="col-6">    
                <h4>New Session</h4>
                <form method="POST" action="/campaigns/<%= campaign._id %>/sessions">
                    <label class="form-label">Session Title:</label>
                    <input class="form-control"ype="text" name="sessionTitle">
                    <label class="form-label">Encounters:</label>
                    <input class="form-control"type='text' name='encounters'>
                    <label class="form-label">Treasure</label>
                    <input class="form-control"type="text" name="treasure">
                    <label class="form-label">Session Description</label>
                    <textarea class="form-control" type="text" name="sessionDescrip" style="height: 200px"></textarea>
                    <input class='btn btn-secondary my-2' type="submit" value="Add Session">
                </form>
            </div>  
        <% } %>
    </div>
    <%- include('../partials/footer') %>